### PYODBC connection to Azure SQL database
#### Jorge Castro

In [ ]:
import sqlite3
import textwrap
import pyodbc
import keyring

In [4]:
conx_string = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};Server=tcp:a200jcd.database.windows.net,1433;Database=py_sql_test;Uid=a100jcd;Pwd=pqowieurzt8%;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;')

In [5]:
cursor = conx_string.cursor()

In [11]:
cursor.execute("INSERT INTO employees VALUES('Jorge', 'Castro', 115000)")

In [12]:
cursor.commit()

In [13]:
cursor.execute("SELECT * FROM employees")

In [14]:
cursor.fetchall()

[('Maria', 'Mayer', 120000.0), ('Jorge', 'Castro', 115000.0)]

In [15]:
for i in cursor.execute("SELECT * FROM employees"):
    print(i)

('Maria', 'Mayer', 120000.0)
('Jorge', 'Castro', 115000.0)

In [20]:
name = input('New employee name: ')
surname = input('New employee surname: ')
salary = float(input('enter salary: '))

New employee name: Annalina
New employee surname: Staiker
enter salary: 197550

In [21]:
cursor.execute("INSERT INTO employees VALUES(?,?,?)", (name,surname,salary))

In [22]:
cursor.execute("SELECT * FROM employees")

In [23]:
cursor.fetchall()

[('Maria', 'Mayer', 120000.0),
 ('Jorge', 'Castro', 115000.0),
 ('Jose', 'Diaz', 70000.0),
 ('Annalina', 'Staiker', 197550.0)]

In [24]:
cursor.close()